.answeringContainer {
  .question {
    font-size: x-large;
    margin-bottom: 5px;
  }
  .currentlyAnsweringIndicator {
    margin: 10px;
  }
  .currentlyAnswering {
    color: red;
  }
  .choices {
    display: grid;
    grid-template-columns: 40% 40%;
    margin: auto;
    justify-content: center;
    .choice {
      cursor: pointer;
      padding: 20px 10px;
      border: 1px solid;
    }
    .answering {
      // border: 1px solid;
    }
  }
}
