@import "@styles/variables";

.bettingContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  .betLabel {
    font-size: larger;
  }
  .betRow {
    display: flex;
    margin: 10px auto;
    height: 50px;
    width: 90%;
    justify-content: center;
    .betInput {
      font-size: larger;
      width: 100px;
    }
    .betsPresetsButtons {
      margin-left: 5px;
      display: flex;
    }
  }
  .betButton {
    width: 30%;
    margin: auto;
  }
  .currentBet {
    font-size: x-large;
    border-bottom: 1px solid;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 20px auto;
    height: 20px;
    color: $coin;
  }
}
