@import "@styles/variables";
@import "@styles/mixins";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .readyContainer {
    width: 100%;
    max-width: 400px;
    margin: 20px auto 0;
    .waitingFor {
      margin-top: 15px;
      font-style: italic;
    }
  }
  .startButton {
    width: 40%;
    max-width: 200px;
    margin: 10px auto;
  }

  .settings {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
    justify-content: space-evenly;

    @include mobile {
      flex-direction: column;
      min-height: 250px;
    }

    .lobbySettings,
    .userSettings {
      .label {
        font-weight: bold;
        text-decoration: underline;
      }

      .settingsRow {
        display: flex;
        align-items: center;
        justify-content: space-around;
        min-width: 200px;
        margin-top: 10px;
      }
      label {
        margin-right: 20px;
      }
    }
    .lobbySettings {
    }
    .userSettings {
    }
  }
}
