@import "@styles/mixins";

.container {
  width: 90%;
  max-width: 400px;
  margin: auto;
  .wrapper {
    height: 60px;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .logoImg {
      height: 80%;
      margin-right: 20px;
    }

    .text {
      text-align: left;
      h1 {
        margin: 0;
        @include mobile {
          font-size: large;
        }
      }
      h2 {
        margin: 0;
        font-size: medium;
        font-weight: lighter;
      }
    }
  }
}
