.container {
  width: 90%;
  max-width: 400px;
  height: 90vh;
  max-height: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(173, 163, 163);
  background-color: rgb(41, 40, 40);

  .messagesContainer {
    flex-grow: 25;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    overflow-y: scroll;

    .messagesWrapper {
      flex-direction: column-reverse;
      .messageRow {
        .sender,
        .messageContent {
          width: fit-content;
          display: inline-block;
          padding: 4px;
        }
        .sender {
          font-weight: bold;
        }
        .messageContent {
          font-weight: lighter;
          max-width: 95%;
          word-wrap: break-word;
        }
      }
      .oddLine {
        background-color: rgb(61, 61, 61);
      }
      .evenLine {
        background-color: rgb(41, 40, 40);
      }
    }
  }

  .inputContainer {
    flex-grow: 1;
    .chatInputBox {
      width: 98%;
      height: 90%;
    }
  }
}
