@import "@styles/variables";

.container {
  width: 100%;
  height: 99%;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 3px solid $primary;
  background-color: $secondary;

  .chatLabel {
    text-align: center;
    background-color: $primary;
    padding: 5px;
    font-weight: bold;
    z-index: 1;
    flex-basis: 5%;
  }

  .messagesContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    flex-basis: 90%;
    overflow-y: auto;

    .messagesWrapper {
      flex-direction: column-reverse;

      .messageRow {
        .sender,
        .messageContent {
          width: fit-content;
          display: inline-block;
          padding: 4px;
        }
        .sender {
          font-weight: bold;
        }
        .messageContent {
          font-weight: lighter;
          max-width: 95%;
          word-wrap: break-word;
        }
      }
      .oddLine {
        background-color: $tertiary;
      }
      .evenLine {
        background-color: $secondary;
      }
    }
  }

  .inputContainer {
    flex-basis: 5%;
    .chatInputBox {
      width: 97%;
      height: 80%;
    }
  }
}
