.container {
  .gameoverTitle {
    font-size: larger;
  }
  .winner {
    font-size: larger;
    color: lime;
    margin: 10px;
  }

  .scoreboard {
    width: 80%;
    max-width: 400px;
    margin: auto;
  }
}
