@import "@styles/variables";
@import "@styles/mixins";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .upper {
    flex-grow: 3;
    display: flex;

    .scoreboard {
      flex-grow: 1;
      margin: 20px;
    }

    .notScoreboard {
      flex-grow: 2;
      display: flex;
      justify-content: space-evenly;
      @include mobile {
        flex-direction: column;
      }
      .money {
        display: flex;
        font-size: larger;
        color: $coin;
        margin: auto;
        height: 30px;
        border: 1px solid;
        padding: 10px 30px 10px 15px;
        border-radius: 10px;
        @include mobile {
          font-size: medium;
          min-height: 40px;
        }
      }
      .gameInfo {
        margin-top: 20px;
        margin: auto;
      }
    }
  }

  .lower {
    flex-grow: 7;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    .mid {
      flex-grow: 6;
      margin-top: 20px;

      @include mobile {
        width: 90%;
        margin: auto;
      }
    }
    .bottom {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;

      .timeRemainingBar {
        margin-top: 10px;
        width: 80%;
      }
    }
  }
}
