.container {
  width: 90%;
  max-width: 400px;
  margin: auto;

  .lobbyCountLabel {
    margin: 20px;
  }

  .publicLobbyList {
    width: 100%;
    .labelRow,
    .lobbyItem {
      display: grid;
      grid-template-columns: 50% 40% 10%;
      text-align: left;
      margin: 10px;
      align-items: center;
    }

    .labelRow {
      font-weight: bold;
      text-decoration: underline;
      .lobbyNameLabel {
      }
      .playerCountLabel {
      }
    }

    .lobbyItem {
      .lobbyName {
      }

      .playerCount {
      }

      .joinButton {
        text-align: center;
        min-width: 60px;
      }
    }
  }

  .createLobbyButton {
    margin-top: 200px;
  }
}
